.root {
  padding: 76px 90px 58px;
}
.container {
  background-color: #f4f6fe;
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Manrope", sans-serif;
}
.topic {
  padding-top: 60px;
  padding-bottom: 22px;
  width: 100%;
  display: flex;
  justify-items: space-between;
  align-items: center;
}
.fractionOne {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30%;
  width: 100%;
}
.fractionTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 25%;
  width: 100%;
}
.fractionThree {
  max-width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.topicText {
  font-size: 32px;
  font-weight: semi-bold;
  line-height: 44px;
  color: #000000;
  margin-bottom: 0;
}

.subtopic {
  padding-top: 24px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  justify-items: space-between;
  align-items: center;
}

.text {
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  color: #000000;
  margin-bottom: 0;
}

.nextText {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #495371;
  margin-bottom: 0;
  padding-right: 20px;
}

.previousText {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #495371;
  margin-bottom: 0;
  padding-left: 20px;
}
.next {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  width: 100%;
  align-self: flex-end;
  justify-self: flex-end;
}

.pageLink {
  text-decoration: none;
  display: none;
}

.page {
  text-decoration: none;
}
.Overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
}
.disabled {
  display: none;
}
